@model PatientCardsITC.Models.Patient

@{
    ViewData["Title"] = "Создать";
    Layout = null;
}
<h4>Создать</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IIN" class="control-label"></label>
                <input asp-for="IIN" class="form-control" />
                <span asp-validation-for="IIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FIO" class="control-label"></label>
                <input asp-for="FIO" class="form-control" />
                <span asp-validation-for="FIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
