@model PatientCardsITC.Models.Doctor

@{
    ViewData["Title"] = "Детали";
    Layout = null;
}

<div>
    <h4>Детали</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.FIO)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.FIO)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Position.PositionName)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Position.PositionName)
        </dd>
    </dl>
</div>
