<h2>Операция свершена успешно</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Index", "Doctors")";
        }, 500);
    })
</script>