@model PatientCardsITC.Models.Position

@{
    ViewData["Title"] = "Удалить";
    Layout = null;
}
<h1>Удалить</h1>

<h5>Вы уверены что хотите удалить это?</h5>
<div>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.PositionName): &nbsp;
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionName)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="PositionId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        @*<a asp-action="Index">Back to List</a>*@
    </form>
</div>
