@model PatientCardsITC.Models.Position

@{
    ViewData["Title"] = "Детали";
     Layout = null;
}
    <div>
        <h4>Детали</h4>
        <hr />
        <dl class="row">
            <dt>
                @Html.DisplayNameFor(model => model.PositionName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PositionName)
            </dd>
        </dl>
    </div>